<a href="https://colab.research.google.com/github/parthdt/B.Tech-Codes/blob/master/Machine%20Learning/Assignment%202/CSL774_Assignment3_Parth_Thakker_2017UCS0047.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports

**Importing the required libraries and the data and displaying a small description of the data.**

In [36]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv('Amazon - Movies and TV Ratings.csv')
data.head()

          user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0  A3R5OBKS7OM2IR     5.0     5.0  ...       NaN       NaN       NaN
1   AH3QC2PC1VTGP     NaN     NaN  ...       NaN       NaN       NaN
2  A3LKP6WPMP9UKX     NaN     NaN  ...       NaN       NaN       NaN
3   AVIY68KEPQ5ZD     NaN     NaN  ...       NaN       NaN       NaN
4  A1CV1WROP5KTTW     NaN     NaN  ...       NaN       NaN       NaN

[5 rows x 207 columns]

In [37]:
display(data.describe())

       Movie1  Movie2  Movie3  Movie4  ...  Movie203  Movie204   Movie205   Movie206
count     1.0     1.0     1.0     2.0  ...       1.0  8.000000  35.000000  13.000000
mean      5.0     5.0     2.0     5.0  ...       3.0  4.375000   4.628571   4.923077
std       NaN     NaN     NaN     0.0  ...       NaN  1.407886   0.910259   0.277350
min       5.0     5.0     2.0     5.0  ...       3.0  1.000000   1.000000   4.000000
25%       5.0     5.0     2.0     5.0  ...       3.0  4.750000   5.000000   5.000000
50%       5.0     5.0     2.0     5.0  ...       3.0  5.000000   5.000000   5.000000
75%       5.0     5.0     2.0     5.0  ...       3.0  5.000000   5.000000   5.000000
max       5.0     5.0     2.0     5.0  ...       3.0  5.000000   5.000000   5.000000

[8 rows x 206 columns]

## Exploratory Data Analysis Tasks

### Task 1 - Which movies have maximum views/ratings?

**For this task, I create a data frame of number of not null ratings for each movie, then find the row(movie) with max ratings.**

In [43]:
movie_notNAN = pd.DataFrame()
movie_notNAN['Number of Ratings'] = data.notnull().sum(axis=0).drop('user_id')
movie_notNAN

          Number of Ratings
Movie1                    1
Movie2                    1
Movie3                    1
Movie4                    2
Movie5                   29
...                     ...
Movie202                  6
Movie203                  1
Movie204                  8
Movie205                 35
Movie206                 13

[206 rows x 1 columns]

In [44]:
print("Movie with Maximum Views/Ratings:\n")
movie_notNAN[movie_notNAN['Number of Ratings'] == movie_notNAN['Number of Ratings'].max()]

Movie with Maximum Views/Ratings:

          Number of Ratings
Movie127               2313

### Task 2 - What is the average rating for each movie? Define the top 5 movies with the maximum ratings.

**For this task, I take the mean of all movie ratings along the row, and then find the max five values after sorting them in descending order.**

In [45]:
movie_notNAN['Average Ratings'] = data.mean(axis=0)
# movie_notNAN[movie_notNAN['Average Ratings'] == movie_notNAN['Average Ratings'].max()].head(n=5)
# movie_notNAN[movie_notNAN['Number of Ratings'] == movie_notNAN['Number of Ratings'].max()].head(n=5)
movie_notNAN

          Number of Ratings  Average Ratings
Movie1                    1         5.000000
Movie2                    1         5.000000
Movie3                    1         2.000000
Movie4                    2         5.000000
Movie5                   29         4.103448
...                     ...              ...
Movie202                  6         4.333333
Movie203                  1         3.000000
Movie204                  8         4.375000
Movie205                 35         4.628571
Movie206                 13         4.923077

[206 rows x 2 columns]

In [46]:
movie_notNAN.sort_values(by = 'Number of Ratings', ascending=False).head(n=5)

          Number of Ratings  Average Ratings
Movie127               2313         4.111976
Movie140                578         4.833910
Movie16                 320         4.518750
Movie103                272         4.562500
Movie29                 243         4.806584

### Task 3 - Define the top 5 movies with the least audience.

In [47]:
movie_notNAN.sort_values(by = 'Number of Ratings').head(n=5)

          Number of Ratings  Average Ratings
Movie1                    1              5.0
Movie71                   1              4.0
Movie145                  1              5.0
Movie69                   1              1.0
Movie68                   1              5.0

## Tasks for building a Recommendation Model

**Some of the movies hadn’t been watched and therefore, are not rated by the users. Netflix would like to take this as an opportunity and build a machine learning recommendation algorithm which provides the ratings for each of the users.**

### Task 4 - Divide the data into training and test data

**First, I fill null values with 0, invert the dataframe to get a `user_id` vs `Movie Number` dataframe, and then divide the data.**

In [48]:
data = data.fillna(0)
data

             user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0     A3R5OBKS7OM2IR     5.0     5.0  ...       0.0       0.0       0.0
1      AH3QC2PC1VTGP     0.0     0.0  ...       0.0       0.0       0.0
2     A3LKP6WPMP9UKX     0.0     0.0  ...       0.0       0.0       0.0
3      AVIY68KEPQ5ZD     0.0     0.0  ...       0.0       0.0       0.0
4     A1CV1WROP5KTTW     0.0     0.0  ...       0.0       0.0       0.0
...              ...     ...     ...  ...       ...       ...       ...
4843  A1IMQ9WMFYKWH5     0.0     0.0  ...       0.0       0.0       5.0
4844  A1KLIKPUF5E88I     0.0     0.0  ...       0.0       0.0       5.0
4845   A5HG6WFZLO10D     0.0     0.0  ...       0.0       0.0       5.0
4846  A3UU690TWXCG1X     0.0     0.0  ...       0.0       0.0       5.0
4847   AI4J762YI6S06     0.0     0.0  ...       0.0       0.0       5.0

[4848 rows x 207 columns]

In [49]:
data_inverted = pd.melt(data,id_vars='user_id')
data_inverted.rename(columns={'variable':'Movie Number', 'value':'Rating'}, inplace=True)
data_inverted

               user_id Movie Number  Rating
0       A3R5OBKS7OM2IR       Movie1     5.0
1        AH3QC2PC1VTGP       Movie1     0.0
2       A3LKP6WPMP9UKX       Movie1     0.0
3        AVIY68KEPQ5ZD       Movie1     0.0
4       A1CV1WROP5KTTW       Movie1     0.0
...                ...          ...     ...
998683  A1IMQ9WMFYKWH5     Movie206     5.0
998684  A1KLIKPUF5E88I     Movie206     5.0
998685   A5HG6WFZLO10D     Movie206     5.0
998686  A3UU690TWXCG1X     Movie206     5.0
998687   AI4J762YI6S06     Movie206     5.0

[998688 rows x 3 columns]

In [50]:
data_inverted[data_inverted['Movie Number'] == 'Movie69']   #Random movie

               user_id Movie Number  Rating
329664  A3R5OBKS7OM2IR      Movie69     0.0
329665   AH3QC2PC1VTGP      Movie69     0.0
329666  A3LKP6WPMP9UKX      Movie69     0.0
329667   AVIY68KEPQ5ZD      Movie69     0.0
329668  A1CV1WROP5KTTW      Movie69     0.0
...                ...          ...     ...
334507  A1IMQ9WMFYKWH5      Movie69     0.0
334508  A1KLIKPUF5E88I      Movie69     0.0
334509   A5HG6WFZLO10D      Movie69     0.0
334510  A3UU690TWXCG1X      Movie69     0.0
334511   AI4J762YI6S06      Movie69     0.0

[4848 rows x 3 columns]

In [51]:
data_inverted[data_inverted['user_id'] == 'A3LKP6WPMP9UKX'] #random user_id

               user_id Movie Number  Rating
2       A3LKP6WPMP9UKX       Movie1     0.0
4850    A3LKP6WPMP9UKX       Movie2     0.0
9698    A3LKP6WPMP9UKX       Movie3     0.0
14546   A3LKP6WPMP9UKX       Movie4     5.0
19394   A3LKP6WPMP9UKX       Movie5     0.0
...                ...          ...     ...
974450  A3LKP6WPMP9UKX     Movie202     0.0
979298  A3LKP6WPMP9UKX     Movie203     0.0
984146  A3LKP6WPMP9UKX     Movie204     0.0
988994  A3LKP6WPMP9UKX     Movie205     0.0
993842  A3LKP6WPMP9UKX     Movie206     0.0

[206 rows x 3 columns]

In [52]:
!pip install scikit-surprise    #Install recommended library for such tasks

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (1.1.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.16.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)

In [53]:
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split

reader = Reader()
model_data = Dataset.load_from_df(data_inverted[['user_id','Movie Number','Rating']], reader)

train, test = train_test_split(model_data, test_size = 0.2)

### Task 5 - Build a recommendation model on training data

**Using a SVD model for this task.**

In [55]:
from surprise import SVD, accuracy
model = SVD()
model.fit(train)

### Task 6 - Make predictions on the test data

**For this task, I use the `test()` method for prediction on test data, and show the root mean square error using `rmse()` method of accuracy module.**

In [56]:
predicted_values = model.test(test)   #Get list of predictions
predicted_values_df = pd.DataFrame(predicted_values)
predicted_values_df.rename(columns={'iid':'Predicted Movie Number', 'uid':'user_id'}, inplace=True)
predicted_values_df

               user_id Predicted Movie Number  ...  est                    details
0       A2HP8GH302QPUG               Movie171  ...  1.0  {'was_impossible': False}
1       A2GO5MMIMXM9LQ                Movie99  ...  1.0  {'was_impossible': False}
2       A1ELWEVJMMTZ8C               Movie158  ...  1.0  {'was_impossible': False}
3       A2Y83LOXK1URXH               Movie145  ...  1.0  {'was_impossible': False}
4        AEMIIQJ06XCDR                Movie19  ...  1.0  {'was_impossible': False}
...                ...                    ...  ...  ...                        ...
199733   A2SWZDBR427H4               Movie123  ...  1.0  {'was_impossible': False}
199734  A2B62696PNFIJO               Movie145  ...  1.0  {'was_impossible': False}
199735  A1FWN4IK6CB0Q7               Movie165  ...  1.0  {'was_impossible': False}
199736  A3BDZO6BE6P1KV                 Movie7  ...  1.0  {'was_impossible': False}
199737  A1YC9XEDFKXPLK               Movie196  ...  1.0  {'was_impossible': False}

[199738 rows x 5 columns]

In [57]:
accuracy.rmse(predicted_values)   #Calculate root mean square error

RMSE: 1.0252

1.0252289470052862